
/* Proprietà generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:orange;
    font-family: 'Pacifico', cursive;
}


/* Proprietà main */
.slideContainer{
    text-align: center;
    margin: 50px auto;
    width: 80%;
    min-width: 550px;
}
.slideContainer h1{
    color: white;
    font-size: 55px;
    margin: 20px 0;
    text-shadow: 2px 2px 0 red;
}

/* Proprietà imgs */
.imgs-list{
    position: relative;
    max-width: 1000px;
    min-height: 300px;
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

/* Immagini sfondo */
.imgs-list img{
    width: 100%;
    display: none;
    object-position: 0 -100px;
}
.imgs-list img.active{
    display: inline-block;
}

/* Icons freccie */
.imgs-list .fa-chevron-circle-left, .imgs-list .fa-chevron-circle-right{
    font-size: 45px;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    /* text-shadow: 0 1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 -1px 0 black; */
    cursor: pointer;
    transition: color 0.4s, text-shadow 0.4s;
}
.imgs-list i:hover{
    color: red;
    text-shadow: 0 1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 -1px 0 white;
}
/* Freccia sx */
.imgs-list i#leftArrow{
    left: 20px;
}
/* Freccia dx */
.imgs-list i#rightArrow{
    right: 20px;
}
